<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <!-- CAMBIAR EL NOMBRE DEL SERVIDOR -->
    <add name = "cadenaConexion" connectionString= "Data source = DESKTOP-NFBFKAN;  
           Initial Catalog = Aplicacion;
           Integrated Security=True;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!-- Cadena de conexión con Autenticación de SQL Server
  <connectionStrings>
    <add name = "cadenaConexion" connectionString= "Data source = NOMBRE-SERVIDOR; 
           Initial Catalog= NOMBRE_BD;
           user id=SA; password=PKHHG" 
           providerName="System.Data.SqlClient"/>
  </connectionStrings>
  -->
</configuration>